
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #444;
    display: flex;
    justify-content: center;
    padding: 20px ;
}

nav ul {
    list-style-type: none;
    padding: 110;
}

nav ul li {
    display: inline;
    margin-right: 60px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #333;
}

ul {
    list-style-type: disc;
    margin-left: 25px;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Contact options */
.contact-options ul {
    padding: 0;
}

.contact-options li {
    margin-bottom: 10px;
}

.contact-options img {
    vertical-align: middle;
    margin-right: 10px;
}


ul li {
    margin-bottom: 10px;
}

button {
    font-size: 16px;
}

.contact-details {
    margin-bottom: 20px;
    text-align: center;
}

.contact-details h3 {
    color: #333;
}

.contact-details p {
    color: #777;
}

footer p {
    font-size: 14px;
}


header h1 {
    font-size: 28px;
}

nav ul li:last-child {
    margin-right: 0;
}

main p {
    line-height: 1.6;
}

section#about {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

section#screening {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 2px;
}

section#resources {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

section#contact {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
}

section h3 {
    color: #555;
}

.contact-options span {
    display: inline-block;
    width: 80%;
    word-wrap: break-word;
}

footer {
    font-weight: bold;
}

.contact-details h3 {
    font-size: 20px;
}

.contact-details p {
    font-size: 16px;
}

.contact-options img {
    max-width: 30px;
    max-height: 30px;
}
